.sign-home{
    padding: 10px;
}

.sign-mobileSignInfo{
    margin: 20px;
    @media (min-width:576px) {
        display: none;
    }
}

.sign-desktopSignInfo{
    @media (max-width:575px) {
        display: none;
    }

    .sign-yearDropDown{
        width:80px
    }
    
    .ant-picker-calendar{
        font-size: 11px;
    }

}

