@import url('https://fonts.cdnfonts.com/css/elgoc');
.home-header{
    font-size: 1.5rem;
    color:#d1a543;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    // color:white;
    .home-header-logo {
        .icon-vue,
        .icon-icon-test,
        .icon-typescript {
          margin-right: 5px;
          font-size: inherit;
        }
        .icon-vue {
          color: green;
        }
        .icon-icon-test {
          color: #deb887;
        }
        .icon-typescript {
          color: blue;
        }
      }
      .home-header-title {
        margin-left: 30px;
        font-weight: 700;
        font-size: 50px;
        margin-right: auto;
      }

      .home-header-space{
        margin-left: 20px;
      }

  }


  .home-main {
    margin-top: 20px;
    background: #fff;
    flex-grow: 1;
    position: relative;
}

.container{
   overflow-x: hidden;
  
}

.header{
  padding: 0 20px;
  background-color: white;
  font-family: 'Elgoc',sans-serif;
  border-bottom: 1px solid #d1a543;
  
}


.home-aside{
   height: calc(100vh - 64px);
   border:none;
   padding-top:30px;
   width: 30vw;
}

.home-breadcum{
  background: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.anticon{
  color:#da1543;
}

@media screen and (max-width:576px){
  .home-aside{
    width: 25vw;
  }
  .home-header{
    line-height: 21px;
    .header-title{
      font-size: 1.5rem;
      
    }
    .header-right{
      display: flex;
      align-items: center;
    }
  }
  
 
  
}


      
    