@media screen and (max-width:576px){
    .ant-menu-inline  .ant-menu-item{
        padding-left: 8px!important;
    }

}

.ant-select-dropdown .ant-select-item-option-content{
    text-overflow: inherit;
}

.ant-select{
    width:70px
}